@import "bootstrap-sprockets";
@import "bootstrap";

body
{
	padding: 0px;
}

#stories-container {
	.story-container {
		margin-top: 4em;
		margin-bottom: 4em;
	}
	.story-content a{
		display: block;
		background-color: #59f;
		color: white;
		padding: 1em;
		border-radius: 5px;
		&:hover {
			background-color: #37d;
			color: #ccc;
			text-decoration: none;
		}
	}
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}